@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

*{
    margin: 0;
    padding:0;
}

.header-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:80px;
    margin:0 auto;
    background-color: whitesmoke;
    border-bottom: 0.5px solid black;
    font-family: "Roboto Mono", monospace;
}

.logo-area{
    width:30%;
}

.logo-area h1{
    font-size: 32px;
    margin-left: 15%;
}

.nav-area{
    display: flex;
    width: 40%;
    justify-content: space-around;
}


.account-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border:2px solid purple; */
    width:30%;
    height: 55px;
}

.account-area button{
    border-radius: 20px;
    padding:2%;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    transition: all 0.3s ease-out;
    background-color: whitesmoke;
    border: 1px solid black;
    cursor: pointer;
}

.account-area button:hover{
    transform: translateY(-5px);
    transition: 0.3s ease-out;
    box-shadow: 0px 4px 0px black;
}


.account-area .log-in{
    width:20%;
    height:50px;
}

.account-area .sign-up{
    width:35%;
    height:50px;
}